<div class="user_confirm_container">
  <div class="user_confirm_box">
  <div class="headline_box">
    <h2 class="user_confirm_headline">登録情報確認</h2>
  </div>
  <div class="procedure_container clearfix">
    <div class="procedure_content_2">
      会員情報入力
    </div>
    <div class="kigou">&#9654;</div>
    <div class="procedure_content_1">
      入力内容確認
    </div>
    <div class="kigou">&#9654;</div>
    <div class="procedure_content_3">
      登録完了
    </div>
  </div>
  <div class="user_confirm_table_box">
    <table class="user_confirm_table" border="1">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <tr>
        <td class="td_color"><%= f.label :会社名,class: "label_name" %></td>
        <td class="td_text"><%= @user.user_name %></td>
        <%= f.hidden_field :user_name%>
      </tr>
      <tr>
        <td class="td_color"><%= f.label :フリガナ,class: "label_name" %></td>
        <td class="td_text"><%= @user.user_phonetic %></td>
        <%= f.hidden_field :user_phonetic%>
      </tr>
      <tr>
        <td class="td_color"><%= f.label :郵便番号（ハイフン無し）,class: "label_name" %></td>
        <td class="td_text"><%= @user.postal %></td>
        <%= f.hidden_field :postal%>
      </tr>
      <tr>
        <td class="td_color"><%= f.label :会社住所,class: "label_name" %></td>
        <td class="td_text"><%= @user.address %></td>
        <%= f.hidden_field :address%>
      </tr>
      <tr>
        <td class="td_color"><%= f.label :決算内容,class: "label_name" %></td>
        <td class="td_text"><%= @user.settlement.settlement_account %></td>
        <%= f.hidden_field :settlement_id%>
      </tr>
      <tr>
        <td class="td_color"><%= f.label :業種,class: "label_name" %></td>
        <td class="td_text"><%= @user.type.type_industry %></td>
        <%= f.hidden_field :type_id%>
      </tr>
      <tr>
        <td class="td_color"><%= f.label :マッチング募集地域,class: "label_name" %></td>
        <td class="td_text"><%= @user.place_field.place_m %></td>
        <%= f.hidden_field :place_field_id%>
      </tr>
      <tr>
        <td class="td_color"><%= f.label :電話番号（ハイフン無し）,class: "label_name" %></td>
        <td class="td_text"><%= @user.tell %></td>
        <%= f.hidden_field :tell%>
      </tr>
      <tr>
        <td class="td_color"><%= f.label :メールアドレス,class: "label_name" %></td>
        <td class="td_text"><%= @user.email %></td>
        <%= f.hidden_field :email%>
      </tr>
      <tr>
        <td class="td_color"><% f.label :パスワード,class: "label_name" %></td>
        <td class="td_text"><% @user.password %></td>
        <%= f.hidden_field :password%>
      </tr>
    </table>
  </div>
  <div class="back_actions" style="margin-bottom: 30px;">
    <%= link_to "編集ページに戻る", new_user_registration_path %>
  </div>
  <div class="Agreement">
      <h2>利用規約</h2>

      ビジこねくと・ウェブサイト（以下、本ウェブサイトといいます）に登録手続きをいただき誠にありがとうございます。お客様には、本規約に従って本ウェブサイトをご利用いただきます。下記チェックボックスに記入することで、本規約の内容及びサイト下部の個人情報の取り扱い・反社会的勢力の排除についてご同意いただいたものとします。<br>

      <h2>Ⅰ. 知的財産権</h2>
      （所有権）<br>
      本ウェブサイト上に表示され、あるいは取得できる全てのコンテンツ、テキスト、イメージ、データ、情報およびその他の資料（以下、これら全てをコンテンツといいます）に関する知的財産権（著作権、商標権等の全ての権利を指します。以下、知的財産権といいます）は、ビジこねくとあるいは表示された所有者の財産であり、知的財産権に関する法律等により保護されています。<br>
      （許される利用および禁止される利用）<br>
      お客様は、本規約および関連する法律に従って、本ウェブサイトが意図した目的の範囲内に限り、本ウェブサイトを利用し、また、コンテンツをダウンロードおよび印刷できます。お客様は、ビジこねくとの事前の許可なく、本ウェブサイトあるいはコンテンツを複製し、販売し、出版し、頒布し、変更を加え、表示することはできません。また、本ウェブサイト上の全ての知的財産権、あるいはそれに関連する所有者を示す表示を侵害し、希釈化し、取り除き、あるいは変更を加えることはできません。<br>
      （お客様のコンテンツ）<br>
      お客様が本ウェブサイトあるいはビジこねくとに提示する全てのコンテンツは、秘密性がなく、かつ所有権の留保がないものとし、本ウェブサイトを通して、ビジこねくとの支配の及ばない世界中に開示され、全ての人によっても閲覧され、ダウンロードされ、印刷され、あるいはその他の方法により利用されることができるものとします。ビジこねくとは、本ウェブサイトあるいはビジこねくとに提示された全てのコンテンツに関し、無償の、永久的な、取消不能の、再許諾可能な、非独占的権利を取得し、また、その形式および媒体を問わず、翻訳し、複製し、販売し、出版し、頒布し、修正を加え、展示し、リンクを貼り、あるいは利用する権利を有するものとします。<br>
      <h2>Ⅱ. お客様の義務</h2>
      （法令の遵守）<br>
      本ウェブサイトの利用に関しては、関連する全ての法令に従うこととします。<br>
      （不適切なコンテンツおよび行動）<br>
      本ウェブサイトに、違法な、不正確な、誤解を招く、不正目的使用の、他人の権利を侵害している、他人の権利を希釈化している、他人の名誉を毀損する、わいせつな、あるいはその他の不快感を与えるコンテンツの提示または提示とみられる行動は禁止します。<br>
      （免責）<br>
      お客様が本ウェブサイトのコンテンツ、または本ウェブサイトからリンクされているウェブサイトを利用したことで発生したトラブルや損害について、ビジこねくとは一切責任を負いません。また、本ウェブサイトには、お客様の便宜のため、ビジこねくと自らが提示したコンテンツに加えて、ビジこねくとの支配、責任の及ばない第三者が提示したコンテンツ、リンク、およびその他の情報ならびにビジこねくとが行ったそれらの翻訳が含まれますが、ビジこねくとはこれら提示した本ウェブサイトの全ての内容が、正確であるかどうか、有用であるかどうか、確実であるかどうか、お客様の目的に合致しているかどうか等については、一切保証できません。リンクされているサイトについては、それぞれのサイトの利用規約をご確認されることをお勧めします。<br>
      （損失補償）<br>
      お客様は、本ウェブサイトの利用、オンライン上の行為、本ウェブサイトを利用した第三者との契約に関連して生じた全ての問題に関し、ビジこねくとに対し、損失補償を行い、かつ、かかる行為によって生じた訴訟その他の請求につき、負担をかけないものとします。この損失補償負担には、弁護士費用を含む全ての費用及び損害が含まれます。<br>
      <h2>Ⅲ. リンク</h2>
      （リンクの設定）<br>
      本ウェブサイトへのリンクは、原則として自由です。但し、リンク元サイトのコンテンツが（ア）公序良俗に反するもの、（イ）法律・法令等に違反しまたは違反する恐れがある内容を含むものと認められる場合、（ウ）その他第三者に誤解を与える恐れがある場合などにおいて、リンクをお断りします。）にリンクを設定ください。<br>
      （リンク設定時の表現等）<br>
      リンクの設定に際しては、ビジこねくとのウェブサイトへのリンクだとはっきりと分かる表現・記述をしてください。リンクの仕方やページの内容によっては、リンク方法の変更、またはリンクの削除をお願いする場合がありますので、あらかじめご了承ください。<br>
      <h2>Ⅳ. その他</h2>
      （個人情報の取り扱い）<br>
      ユーザー登録情報およびビジこねくとが取得したお客様に関する情報は、「 ビジこねくと・ウェブサイトのプライバシーポリシー」に従って取り扱われます。なお、このプライバシーポリシーは、利用規約の一部をなし、この利用規約のIV.3条が適用になることを確認します。<br>
      （個別規約）<br>
      本ウェブサイトのコンテンツの一部には、ご利用の際、本規約以外に更に他の個別規約にお客様の同意をいただく場合があります。本規約とは別に個別規約を設けてあり、かつ、本規約と個別規約の内容に異なる規約がある場合には、個別規約が優先します。<br>
      （紛争解決）<br>
      ビジこねくとはお客様とその相手方等第三者との間の紛争に関わる義務はないものとします。<br>
      本ウェブサイト、本規約およびそれらから生じる紛争は、排他的に日本法のみが適用され、日本法のみによって解釈されます。本ウェブサイトあるいは本規約に関して生じた全ての紛争に対しては、日本国の東京地方裁判所が専属的な管轄権を有します。紛争に関する法的手続きは、その原因発生後遅くとも1年以内に提起されなければなりません。<br>
      （規約の変更等）<br>
      本規約は、当事者間の完全な合意であり、これまでの合意や通信内容に代わるものとします。ジェトロは事前の通知なしに本規約の内容を変更することがあります。変更した場合、ビジこねくとは変更後の利用規約を本ウェブサイト上に公表し、改訂日を更新します。本ウェブサイト上に公表した後、お客様が初めて本ウェブサイトをご利用された時点で、変更後の規約にご同意いただいたものとします。<br>
      2018年7月26日 制定
  </div>
  <div class="checkbox_container">
    <%= f.check_box :agreement, :as => :boolean, checked:false %>
    <p class="checkbox_text">規約に同意する</p>
  </div>
  <div class="actions">
    <%= f.submit "登録",class: "signup_btn btn10",id: "submit-btn" %>
  </div>
    <% end %>
  </div>
</div>
