<section class="signup_container">
  <div class="sign_up_box">
    <div class="headline_box" style="margin-bottom: 20px;">
      <h2 class="signup_headline">会員登録</h2>
    </div>
    <div class="procedure_container clearfix" style="margin-bottom: 10px;">
      <div class="procedure_content_1">
        会員情報入力
      </div>
      <div class="kigou">&#9654;</div>
      <div class="procedure_content_2">
        入力内容確認
      </div>
      <div class="kigou">&#9654;</div>
      <div class="procedure_content_3">
        登録完了
      </div>
    </div>

          <%= form_for @user, url: {action: "confirm"} do |f| %>
        <%= devise_error_messages! %>

    <table border="1" class="signup_table" style="margin-bottom: 20px;">
        <tr>
          <div class="field">
            <td class="td_color"><%= f.label :会社名,class: "label_name" %><br /></td>
            <td><%= f.text_field :user_name %></td>
          </div>
        </tr>
        <tr>
          <div class="field">
            <td class="td_color"><%= f.label :フリガナ,class: "label_name" %><br /></td>
            <td><%= f.text_field :user_phonetic %></td>
          </div>
        </tr>
        <tr>
          <div class="field">
            <td class="td_color"><%= f.label :郵便番号（ハイフン無し）,class: "label_name" %><br /></td>
            <td><%= f.text_field :postal %></td>
          </div>
        </tr>
        <tr>
          <div class="field">
            <td class="td_color"><%= f.label :会社住所,class: "label_name" %><br /></td>
            <td><%= f.text_field :address %></td>
          </div>
        </tr>
        <tr>
          <div class="field">
            <td class="td_color"><%= f.label :決算内容,class: "label_name" %><br /></td>
            <td><%= f.collection_select(:settlement_id, Settlement.all, :id, :settlement_account, prompt: "選択する") %></td>
          </div>
        </tr>
        <tr>
          <div class="field">
            <td class="td_color"><%= f.label :業種,class: "label_name" %><br /></td>
            <td><%= f.collection_select(:type_id, Type.all, :id, :type_industry, prompt: "選択する") %></td>
          </div>
        </tr>
        <tr>
          <div class="field">
            <td class="td_color"><%= f.label :マッチング募集地域,class: "label_name" %><br /></td>
            <td><%= f.collection_select(:place_field_id, PlaceField.all, :id, :place_m, prompt: "選択する") %></td>
          </div>
        </tr>
        <tr>
          <div class="field">
            <td class="td_color"><%= f.label :電話番号（ハイフン無し）,class: "label_name" %><br /></td>
            <td><%= f.text_field :tell %></td>
          </div>
        </tr>
        <tr>
          <div class="field">
            <td class="td_color"><%= f.label :メールアドレス,class: "label_name" %><br /></td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </div>
        </tr>
        <tr>
          <div class="field">
            <td class="td_color_pass"><%= f.label :パスワード,class: "label_name" %>
              <div><em class="em_text">(6文字以上で入力して下さい)</em></div>
            </td>
            <td><%= f.password_field :password, autocomplete: "off" %></td>
            <br />
          </div>
        </tr>
        <tr>
          <div class="field">
            <td class="td_color"><%= f.label :パスワード確認,class: "label_name" %><br /></td>
            <td><%= f.password_field :password_confirmation, autocomplete: "off" %></td>
          </div>
        </tr>
      </table>
      <div style="margin: 0 auto; width: 40px; margin-bottom: 30px;">
        <%= f.submit "確認",class: 'btn btn-md btn-success' %>
      </div>
        <% end %>
  </div>
</section>
