<div class="container">
	<div class="row">
		<div class="col-lg-2">
				<div style="margin-top:30px; height: 900px; border:solid #3254d261 2px;">絞り込み検索実装予定</div>
		</div>
		<div class="col-lg-10">
		<div style="float: right; width: 200px; background-color: #1bde9678; margin:20px;">検索スペース</div>
			<div style="margin-top:60px; border:solid #1bde9678 3px;">
				<div style="width: 100%;height: 100px;border-bottom: solid #1bde9678 2px;"></div>
				<% @needs.order("created_at DESC").first(5).each do |f| %>
				<div class="need_box">
					<div><%= attachment_image_tag f, :image, :fill, 100, 100, format: 'jpg', fallback: 'no_image.jpg', :size => '100x100' %></div>
					<div>識別番号：<%= f.need_number %></div>
					<div>タイトル：<%= f.need_title %></div>
					<div>マッチング希望時期：<%= f.match_time %></div>
					<div>希望商談場所：<%= f.place %></div>
					<div>マッチング申請のカウント表示</div>
					<%= link_to "詳細へ",need_path(f) %>
						<% if f.delete_flag == true %>
							<div style="color: red">↑削除済みのニーズです</div>
						<% end %>
				</div>
				<% end %>
			</div>
			<div style="text-align: left; margin: 20px 0 0 20px"><%=link_to "ニーズ一覧へ", needs_path,class:'btn btn-sm btn-info'%></div>
		</div>
		<!-- ●日本地図 -->
		<div class="col-md-12" style="margin-top: 50px;">
			<div class="col-md-5" style="border:solid gray 1px; margin: 20px 0 50px 0; height: 500px;">
				<p>同じ業種をランダム表示とか</p>
			</div>
			<div class="col-md-7">
				<h3>地域ごとに探す</h3>
					<ul id="imagemap">
						<li id="hokkaido"><a href="hokkaido/hokkaido.html"><span>北海道</span></a></li>
						<li id="touhoku"><a href="tohoku/miyagi</l"><span>東北</span></a></li>
						<li id="hokuriku"><a href="hokuriku/nagano.html"><span>北陸</span></a></li>
						<li id="kanto"><a href="kanto/tokyo.html"><span>関東</span></a></li>
						<li id="tokai"><a href="toukai/shizuoka.html"><span>東海</span></a></li>
						<li id="kansai"><a href="kansai/osaka.html"><span>関西</span></a></li>
						<li id="chugoku"><a href="chugoku/hiroshima.html"><span>中国</span></a></li>
						<li id="shikoku"><a href="shikoku/kochi.html"><span>四国</span></a></li>
						<li id="kyushu"><a href="kyushu/fukuoka.html"><span>九州</span></a></li>
						<li id="okinawa"><a href="okinawa/okinawa.html"><span>沖縄</span></a></li>
					</ul>
		<!-- ●日本地図下の地域リスト -->
					<ul id="area">
						<li><a href="hokkaido/hokkaido.html">北海道</a></li>
						<li><a href="tohoku/miyagi.html">東北</a></li>
						<li><a href="hokuriku/nagano.html">北陸・甲信越</a></li>
						<li><a href="kanto/tokyo.html">関東</a></li>
						<li><a href="toukai/shizuoka.html">東海</a></li>
						<li><a href="kansai/osaka.html">関西</a></li>
						<li><a href="chugoku/hiroshima.html">中国</a></li>
						<li><a href="shikoku/kochi.html">四国</a></li>
						<li><a href="kyushu/fukuoka.html">九州</a></li>
						<li><a href="okinawa/okinawa.html">沖縄</a></li>
					</ul>
			</div>
		</div>
	</div>
</div>


