<div class="container">
	<div class="row">
		<div class="col-lg-2">
			<div style="margin-top:30px; height: 400px; border:solid #3254d261 2px;">絞り込み検索実装予定</div>
		</div>
		<div class="col-lg-10" style="margin-top:30px; border:solid #1bde9678 2px">
			<% @needs.each do |f| %>
			<div class="need_box">
				<div>識別番号：<%= f.need_number %></div>
				<div>ニーズのタイトル表示部分：<%= f.need_title %></div>
				<div>ニーズの本文表示部分：<%= f.need_text %></div>
				<div>マッチング希望時期の表示部分：<%= f.match_time %></div>
				<div>希望商談場所の表示部分：<%= f.place %></div>
				<div>マッチング申請のカウント表示</div>
				<%= link_to "詳細へ",need_path(f) %>
					<% if f.delete_flag == true %>
						<div style="color: red">↑削除済みのニーズです</div>
					<% end %>
			</div>
			<% end %>
		</div>
	</div>
</div>


