<div class="container">
  	<div class="row">
    	<div class="col-lg-12" style="margin: 50px 0 30px 0; padding:10px;  border-top:solid #6f94fd 2px; border-bottom:solid #6f94fd 2px;">
			<div>
				<h2 style="color: #0b0bab; font-weight: bold;">
					<%= @need.need_title %>
				</h2>
			</div>
			<div>
				<h5 style="display: inline-block; padding:2px; border: solid 1px; color: #808080db; border-radius: 3px;">
					目的：<%= @need.purpose.purpose_date %>
				</h5>
				<h6 style="margin: 0 30px; display: inline-block;">
					識別番号：<%= @need.need_number %>
				</h6>
			</div>
		</div>


<div class="col-lg-7" style="padding-bottom: 20px;">
	<div>◇ ニーズ情報</div>
	<table class="table table-striped" style="margin-top: 10px;">
		<tr>
			<td class="col-lg-4"><h4>掲載日</h4></td>
      		<td><h4 class="td_user_text"><%= @need.created_at.strftime('%Y/%m/%d') %></h4></td>
		</tr>
		<tr>
			<td class="col-lg-4"><h4>募集地域</h4></td>
      		<td ><h4 class="td_user_text"><%= @need.place_field.place_m %></h4></td>
		</tr>
		<tr>
			<td class="col-lg-4"><h4>希望商談場所</h4></td>
      		<td ><h4 class="td_user_text"><%= @need.place %></h4></td>
		</tr>
		<tr>
			<td class="col-lg-4"><h4>マッチング希望時期</h4></td>
      		<td ><h4 class="td_user_text"><%= @need.match_time %>ごろ</h4></td>
		</tr>
	</table>
</div>

<div class="col-md-offset-1 col-lg-4" style="margin-top: 10px;">
	<%= attachment_image_tag @need, :image, :fill, 200, 200, format: 'jpg', fallback: 'no_image.jpg', :size => '200x200' %>
</div>

<div class="col-lg-12">
	<p style="color: red; padding-top: 80px;">※ビジこねくとでは、利用者からご提供いただいた情報の内容については審査しておりません。<br>情報の正確性、信頼性については、ご自身でご判断ください。</p>
</div>

<div class="col-lg-12" style="margin-top: 30px; border-top:solid gray 2px; border-bottom:solid gray 2px; background-color: #a6ceff;">
	<h5 style="font-weight: bold;">内容</h5>
</div>

<div class="col-lg-12" style="padding: 20px 30px;">
	<div><%= br(@need.need_text) %></div>
</div>

<div class="col-lg-12">

	<% if admin_signed_in? %>
		<a><%= link_to 'ニーズを編集', edit_need_path(@need), class: 'btn btn-sm btn-info' %></a>
		<a><%= link_to 'ニーズを削除', need_path(@need), method: :delete, class: 'btn btn-sm btn-danger', data: {confirm: "このニーズを削除しますか？"} %></a>
	<% elsif @need.delete_flag == false && @need.user_id == current_user.id %>
		<a><%= link_to 'ニーズを編集', edit_need_path(@need), class: 'btn btn-sm btn-info' %></a>
		<a><%= link_to 'ニーズを削除', need_path(@need), method: :delete, class: 'btn btn-sm btn-danger', data: {confirm: "このニーズを削除しますか？"} %></a>
	<% end %>
	<% if  @need.delete_flag == true %>
		<div style="color: red">削除済みのニーズです</div>
	<% end %>
</div>

<div class="col-lg-12" style="margin-top: 30px; border-top:solid gray 2px; border-bottom:solid gray 2px; background-color: #a6ceff;">
	<h5 style="font-weight: bold;">掲載企業情報</h5>
</div>
<div class="col-lg-12" style="margin-bottom: 30px;">
	<div class="col-lg-7" style="margin-top: 50px;">
		<table class="table table-striped">
		<tr>
			<td class="col-lg-4"><h4>業種</h4></td>
      		<td><h4 class="td_user_text"><%= @need.user.type.type_industry %></h4></td>
		</tr>
		<tr>
			<td class="col-lg-4"><h4>マッチング募集地域</h4></td>
      		<td><h4 class="td_user_text"><%= @need.user.place_field.place_m %></h4></td>
		</tr>
		<tr>
      		<td class="col-lg-4"><h4>投稿企業名</h4></td>
      		<td ><h4 class="td_user_text"><%= @need.user.user_name %></h4></td>
    	</tr>
		<tr>
			<td class="col-lg-4"><h4>従業員数</h4></td>
      		<td ><h4 class="td_user_text"><%= @need.user.employment %></h4></td>
		</tr>
		</table>
		<%=link_to "会社詳細情報へ",company_path(@need.user_id) %>
	</div>
	<div class="col-md-offset-1 col-lg-4" style="margin-top: 50px;">
		<%= attachment_image_tag @need.user, :image, :fill, 200, 200, format: 'jpg', fallback: 'no_image.jpg', :size => '200x200' %>
	</div>
</div>
<!-- tuika -->

<div class="col-lg-12" style="margin-top: 30px; border-top:solid gray 2px;">
<% if admin_signed_in? %>
	<div style="color: red;font-weight: bold; margin: 20px 0;">管理者はマッチング申請送信できません</div>
 <% elsif @need.user_id != current_user.id %>
<br>
  <div id="follow_form">
     	<%= form_for(current_user.matchings.build(id: @need.id), url: test_path) do |f| %>
  			<div><%= f.hidden_field :id %></div>
  			<div><%= f.text_area :matching_message, rows:'6', class: 'form-control', placeholder: 'マッチング申請するにあたりメッセージを入力してください' %></div>
  			<%= f.submit "マッチング申請する", class: "btn btn-large btn-primary follow-btn" , data: {confirm: "マッチング申請を相手企業に送信します、
申請内容の齟齬を防止するため送信後のメッセージ編集はできません。

本当に送信しますか？"}%>
		<% end %>
  </div>
<% end %>
<br><br>

<% if admin_signed_in? %>
	<div class="col-lg-12" style="border-top:solid gray 2px; border-bottom:solid gray 2px; background-color: #a6ceff; margin-bottom: 20px;">
		<h5 style="font-weight: bold;">受信しているマッチング申請</h5>
	</div>
	<% @mt.order("created_at DESC").each do |m| %>
		<div class="col-lg-12">
			<div class="col-lg-3" style="margin-top: 10px;">
				<%= attachment_image_tag m.user, :image, :fill, 100, 100, format: 'jpg', fallback: 'no_image.jpg', :size => '100x100' %>
				<div><%= m.user.user_name %></div>
				<div><%= m.created_at.strftime('%Y年%m月%d日 %H時%M分') %></div>
				<div style="margin: 20px 0 10px 0;"><%= link_to "企業詳細",company_path(m.user_id) %></div>
			</div>
			<div class="col-lg-9" style="margin-bottom: 15px;">
				<div style="font-weight: bold;font-size: 15px; margin-bottom: 10px;">申請メッセージ</div>
				<div class="col-lg-12" style="border: dotted gray 1px; padding: 10px;"><%= br(m.matching_message) %></div>
			</div>
			<div class="col-lg-12" style="border-bottom: solid gray 1px; margin-bottom: 20px;">
				<%if m.user.delete_flag==true%>
					<div style="color: red; margin-bottom: 10px;">※ 退会済みユーザーの為、許可した場合は御社からの連絡が必要になります</div>
				<% end %>
			</div>
		</div>
	<% end %>

<% else %>
	<div class="col-lg-12" style="border-top:solid gray 2px; border-bottom:solid gray 2px; background-color: #a6ceff; margin-bottom: 20px;">
		<h5 style="font-weight: bold;">受信しているマッチング申請</h5>
	</div>
	<div class="col-lg-12" style="margin-bottom: 50px;">
		<% @mt.order("created_at DESC").each do |m| %>
			<div class="col-lg-12">
				<div class="col-lg-3" style="margin-top: 10px;">
					<%= attachment_image_tag m.user, :image, :fill, 100, 100, format: 'jpg', fallback: 'no_image.jpg', :size => '100x100' %>
					<div><%= m.user.user_name %></div>
					<div><%= m.created_at.strftime('%Y年%m月%d日 %H時%M分') %></div>
					<div style="margin: 20px 0 10px 0;"><%= link_to "企業詳細",company_path(m.user_id) %></div>
				</div>
				<div class="col-lg-9" style="margin-bottom: 15px;">
					<div style="font-weight: bold;font-size: 15px; margin-bottom: 10px;">申請メッセージ</div>
					<div class="col-lg-12" style="border: dotted gray 1px; padding: 10px;"><%= br(m.matching_message) %></div>
				</div>
				<div class="col-lg-12" style="border-bottom: solid gray 1px; margin-bottom: 20px;">
					<%if m.user.delete_flag==true%>
						<div style="color: red; margin-bottom: 10px;">※ 退会済みユーザーの為、許可した場合は御社からの連絡が必要になります</div>
					<% end %>

					<% if m.matching_s ==0 && m.need.user_id == current_user.id %>
						<div style="margin-bottom: 10px;"><%= link_to '許可', matching_path(m), method: :patch, class: 'btn btn-sm btn-info', data: {confirm: "本当に許可しますか？"} %>
						\	<%= link_to '拒否', matching_path(m), method: :delete, class: 'btn btn-sm btn-danger', data: {confirm: "本当に拒否しますか？"} %></div>
					<% elsif m.matching_s ==0 && m.user_id == current_user.id %>
						<p style="color: #00a28e; font-weight: bold;">マッチング申請中</p>
					<% elsif m.matching_s ==1 && m.need.user_id == current_user.id %>
						<p style="color: #dc01ff; font-weight: bold;">マッチング許可が完了しました</p>
						<p style="color: #dc01ff;"><%=m.user.user_name%>さんのメールアドレス：<%=m.user.email%></p>
					<% elsif m.matching_s ==1 && m.user_id == current_user.id %>
						<p style="color: #dc01ff; font-weight: bold;">マッチングが許可されました</p>
						<p style="color: #dc01ff;"><%=m.need.user.user_name%>さんのメールアドレス：<%=m.need.user.email%></p>
					<% elsif m.matching_s ==2 && m.need.user_id == current_user.id  %>
						<p style="color: #bf0e0e; font-weight: bold;">拒否済みの申請です</p>
					<% elsif m.matching_s ==2 && m.user_id == current_user.id  %>
						<p style="color: #bf0e0e; font-weight: bold;">マッチングが拒否されました...</p>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
<%end%>

  </div>
</div>
</div>