<div class="container" style="margin-top: 20px;">
	<div class="row">
		<div style="font-weight: bold; font-size: 25px; margin-bottom:30px; width: 160px; border-bottom:solid #1955ff54 2px;;" >会社情報</div>
		<div class="col-lg-12">
			<div class="col-lg-4" style="margin-bottom: 50px;">
				<div style="padding: 10px 20px;"><%= attachment_image_tag @user,:image,:fill,150,150, format: 'jpg', fallback: '/no_image.jpg', :size => '150x150' %></div>

				<div class="col-lg-12 company_under">
					<div class="col-lg-5 company_text">最終編集日：</div>
					<div class="col-lg-7">
						<div><%=@user.updated_at.strftime('%Y/%m/%d')%></div>
					</div>
				</div>

				<div class="col-lg-12 company_under">
					<div class="col-lg-5 company_text">会社名：</div>
					<div class="col-lg-7">
						<div><%=@user.user_name%></div>
					</div>
				</div>

				<div class="col-lg-12 company_under">
					<div class="col-lg-5 company_text">業種：</div>
					<div class="col-lg-7">
						<div><%=@user.type.type_industry%></div>
					</div>
				</div>

				<div class="col-lg-12 company_under">
					<div class="col-lg-5 company_text">住所：</div>
					<div class="col-lg-7">
						<div><%=@user.address%></div>
					</div>
				</div>

				<div class="col-lg-12 company_under">
					<div class="col-lg-5 company_text">募集地域：</div>
					<div class="col-lg-7">
						<div><%=@user.place_field.place_m%></div>
					</div>
				</div>

				<div class="col-lg-12 company_under">
					<div class="col-lg-5 company_text">決算内容：</div>
					<div class="col-lg-7">
						<div><%=@user.settlement.settlement_account%></div>
					</div>
				</div>

				<div class="col-lg-12 company_under">
					<div class="col-lg-5 company_text">年商：</div>
					<div class="col-lg-7">
						<div><%=@user.anuual%></div>
					</div>
				</div>

				<div class="col-lg-12 company_under">
					<div class="col-lg-5 company_text">従業員数：</div>
					<div class="col-lg-7">
						<div><%=@user.employment%></div>
					</div>
				</div>
			</div>
			<div class="col-lg-8" style="margin: 10px 0;">
				<div class="col-lg-12" style="background-color: #1f53a2; border: solid #a7a3bb 2px;">
					<p style="color: white; font-weight: bold; font-size: 17px;padding-top: 3px;">会社説明</p>
				</div>
				<div class="col-lg-12" style="margin-top: 20px; padding: 0 20px;">
					<div><%=br(@user.pr)%></div>
				</div>

			    <div class="col-lg-12" style="margin-top: 30px">
			    	<div class="col-lg-12" style="background-color: #1f53a2; border: solid #a7a3bb 2px;">
						<p style="color: white; font-weight: bold; font-size: 17px;padding-top: 3px;">登録したニーズ</p>
					</div>
			      <% if @needs.present? %>
			        <% @needs.order("created_at DESC").each do |f| %>
			          <div class="col-lg-12" style="margin-bottom: 20px; border-bottom: dashed #8e8b8b73 2px;">
			            <div class="col-lg-3" style="margin: 20px 0 30px 0">
			            <%= link_to need_path(f), :style=>"text-decoration:none; color:black;" do %>
			              <%= attachment_image_tag f, :image, :fill, 100, 100, format: 'jpg', fallback: '/no_image.jpg', :size => '100x100' %>
			            </div>
			            <div class="col-lg-9" style="overflow: hidden; margin-top: 20px;">
			              <h4 style="margin: 0 0 0 0;color: #0000c5; font-weight: bold;"><%= f.need_title.truncate(26) %></h4>

			              <h6 style="display: inline-block; padding: 0 20px; border: solid 1px; color: #808080db; border-radius: 3px;">
			                <%= f.purpose.purpose_date %>
			              </h6>
			              <div style="display: inline-block; float: right; margin-right: 10%;">識別番号：<%= f.need_number %></div>
			              <div style="margin-top: 5px;">登録日　：<%= f.created_at.strftime('%Y年%m月%d日')%>(更新日：<%= f.updated_at.strftime('%Y年%m月%d日')%>)</div>
			              <div>募集地域：<p style="color: orange; display: inline-block;"><%= f.place_field.place_m %></p></div>
			              <div style="margin: 5px 0"><i class="fa fa-envelope"></i> 受信したマッチング申請：<%= f.matchings.count %>件（未回答<%= f.matchings.where(matching_s: 0).count %>件, マッチング<%= f.matchings.where(matching_s: 1).count %>件）</div>
			            <%end%>
			            </div>
			          </div>
			        <% end %>
			        <div class="pagenate-space" style="text-align: center; margin-bottom: 50px;">
			          <%= paginate @needs, class: "pagenate" %>
			        </div>
			      <% else %>
			        <div style="padding-bottom: 100px; margin-bottom: 30px;"><%=@user.user_name%>さんが登録したニーズはありません</div>
			      <% end %>
			    </div>

			</div>
		</div>
	</div>
</div>