<div class="user_new_back">
  <div class="container user_new_back_mask">
    <div class="row">
      <div class="col-md-offset-1 col-lg-10"><div>
        <h2>登録情報編集</h2>
        </div>
        <% if @user.errors.full_messages %>
          <div class="errors_message">
            <% @user.errors.full_messages.each do |message| %>
          </div>
            <%= message %>
          <% end %>
        <% end %>

          <%= form_for @user do |f| %>
            <div class="form-group">
              <label for="need_title" class="control-label col-xs-3" style="margin: 3px 0;">会社名</label>
              <div class="col-xs-7" style="margin: 3px;">
                <%= f.text_field :user_name, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <label for="need_title" class="control-label col-xs-3" style="margin: 3px 0;">会社名（フリガナ）</label>
              <div class="col-xs-7" style="margin: 3px;">
                <%= f.text_field :user_phonetic, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <label for="need_title" class="control-label col-xs-3" style="margin: 3px 0;">郵便番号</label>
              <div class="col-xs-7" style="margin: 3px;">
                <%= f.number_field :postal, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <label for="need_title" class="control-label col-xs-3" style="margin: 3px 0;">住所</label>
              <div class="col-xs-7" style="margin: 3px;">
                <%= f.text_field :address, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <label for="place_field_id" class="control-label col-xs-3" style="margin: 3px 0;">マッチング希望地域</label>
              <div class="col-xs-7" style="margin: 3px;">
              <%= f.collection_select :place_field_id, PlaceField.all, :id, :place_m, prompt: "選択する" %>
              </div>
            </div>
            <div class="form-group">
              <label for="place" class="control-label col-xs-3" style="margin: 3px 0;">電話番号</label>
              <div class="col-xs-7" style="margin: 3px;">
                <%= f.number_field :tell, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <label for="match_time" class="control-label col-xs-3" style="margin: 3px 0;">メールアドレス</label>
              <div class="col-xs-7" style="margin: 3px;">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <label for="match_time" class="control-label col-xs-3" style="margin: 3px 0;">イメージ画像を登録（任意）</label>
              <div class="col-xs-7" style="margin: 2px;">
                <%= f.attachment_field :image %>
              </div>
            </div>

            <div class="col-xs-12" style="margin-top: 50px;"></div>

            <div class="form-group">
              <label for="match_time" class="control-label col-xs-3" style="margin: 3px 0;">業種</label>
              <div class="col-xs-7" style="margin: 3px;">
                <%= f.collection_select :type_id, Type.all, :id, :type_industry, prompt: "選択する", class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <label for="match_time" class="control-label col-xs-3" style="margin: 3px 0;">決算内容</label>
              <div class="col-xs-7" style="margin: 3px;">
                <%= f.collection_select :settlement_id, Settlement.all, :id, :settlement_account, prompt: "選択する" , class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <label for="match_time" class="control-label col-xs-3" style="margin: 3px 0;">年商</label>
              <div class="col-xs-7" style="margin: 3px;">
                <%= f.text_field :anuual, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <label for="match_time" class="control-label col-xs-3" style="margin: 3px 0;">従業員数</label>
              <div class="col-xs-7" style="margin: 3px;">
                <%= f.text_field :employment, class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <label for="need_text" class="control-label col-xs-3" style="margin: 3px 0;">会社説明</label>
              <div class="col-xs-7" style="margin: 3px;">
              <%= f.text_area :pr, rows:'13', class: "form-control" %>
              </div>
            </div>
            <div class="col-xs-12">
              <div><%= f.submit '編集', class: "btn btn-primary" %></div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
