<section class="password_edit_container">
  <div class="headline_box">
    <h2 class="password_edit_headline">パスワード再設定</h2>
  </div>
  <table border="1" class="password_edit_table">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>
    <tr>
      <div class="field">
        <td class="td_color_pass"><%= f.label :"パスワード",class: "label_name" %><br />
        <% if @minimum_password_length %>
        <em class="em_text">(<%= @minimum_password_length %> 文字以上で入力して下さい)</em><br /></td>
        <% end %>
        <td><%= f.password_field :password, autofocus: true, autocomplete: "off" %></td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <td class="td_color"><%= f.label :"パスワード確認",class: "label_name" %><br /></td>
        <td><%= f.password_field :password_confirmation, autocomplete: "off" %></td>
      </div>
    </tr>
  </table>
  <div class="actions">
    <%= f.submit "変更",class: "change_btn" %>
  </div>
  <% end %>
</section>
