<!DOCTYPE html>
<html>
  <head>
    <title>Busiconnect</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">
  </head>

  <body>
      <header>
<!-- 条件分岐 -->

<!-- 管理者 -->
        <% if admin_signed_in? %>
          <div class="header-links">
            <div class="link3"><%= link_to "利用者一覧",users_path ,class:'btn10' %></div>
            <div class="link2"><%= link_to "問い合わせ一覧", root_path, class:'btn10' %></div>
            <div class="link3"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete,class:'btn10' %></div>
          </div>
          <a href="/"><div class="header-logo"></div></a>
          <div class="header-text2">
            <p class="header-text3">管理者としてログイン中</p>
          </div>
<!-- ユーザー -->
        <% elsif user_signed_in? %>
          <div class="header-links">
            <div style="display: inline-block;margin: 0 30px;position:relative;bottom: 11px;"><%= render 'notifications/notification_dropdown' %></div>
            <div class="link3"><%= link_to "ニーズ登録",new_need_path ,class:'btn10' %></div>
            <div class="link2"><%= link_to "マイページ", user_path(current_user.id), class:'btn10' %></div>
            <div class="link3"><%= link_to "ログアウト", destroy_user_session_path, method: :delete,class:'btn10' %></div>
          </div>
          <a href="/"><div class="header-logo"></div></a>
          <div class="header-text2">
            <p class="header-text3">ようこそ! <%= current_user.user_name %>さん</p>
          </div>
<!-- ゲスト -->
      <% else %>
      <div class="header-links">
            <div class="link2"><%= link_to "新規登録", new_user_registration_path, :style=>"color:white;",class:'btn10' %></div>
          <div class="link3"><%= link_to "ログイン", new_user_session_path, :style=>"color:white;",class:'btn10' %></div>
        </div>
        <div class="header-sub"><a href="/"><div class="header-logo"></div></a>
          <div class="header-text2">
            <p class="header-text3">ようこそ! ゲストさん</p>
          </div>
        </div>
      <% end %>
<!-- 条件分岐終わり -->
      </header>
    <%= yield %>
      <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12" style="margin-top: 20px;">
            <div class="col-md-offset-4 col-lg-2">
              <div><%= link_to "・サイト利用方法",use_path ,style:"text-decoration: none; color: white;"%></div>
              <div style="margin:8px 0;"><%= link_to"・イントロダクション",introduction_path,style:"text-decoration: none;color: white;"%></div>
              <div><%= link_to "・問い合わせ",root_path ,style:"text-decoration: none; color: white;"%></div>
            </div>
            <div class="col-lg-3">
              <div><%= link_to "・利用規約・免責事項",agreement_path ,style:"text-decoration: none; color: white;"%></div>
              <div style=" margin:8px 0;"><%= link_to "・個人情報保護について",law_path ,style:"text-decoration: none; color: white;"%></div>
              <div><%= link_to "・反社会的勢力の排除について",forces_path ,style:"text-decoration: none; color: white;"%></div>
            </div>
            <div class="col-lg-3">
              <div class="c_white">
                <div>Social</div>
                  <i class="fa fa-facebook-square fa-3x" style=" margin-left: 30px;"></i>
                  <i class="fa fa-twitter-square fa-3x" style="margin: 5px 30px;"></i>
                  <i class="fa fa-instagram fa-3x"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 footer_fin">
        <p class="footer_fin_text">Copyright <i class="fa fa-copyright"></i> 2018 BusinessConnect-Corp.  All Rights Reserved.</p>
      </div>
      </footer>
  </body>
</html>
