<!DOCTYPE html>
<html>
  <head>
    <title>Busiconnect</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">
  </head>

  <body>
  	<div class="header-padding">
    	<header>
<!-- 条件分岐 -->
    		<% if user_signed_in? %>
    			<div class="header-links">
    				<div class="link2"><%= link_to "マイページ", user_path(current_user.id), :style=>"color:white;" %></div>
					<div class="link3"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, :style=>"color:white;" %></div>
				</div>
				<div class="header-sub"><%= link_to "ビジコネクト",root_path, :style=>"color:white;" %>
					<div class="header-text2">
						<p class="header-text3">ようこそ! <%= current_user.user_name %>さん</p>
					</div>
				</div>

			<% else %>
				<div class="header-links">
					<div class="link2"><%= link_to "新規登録", new_user_registration_path, :style=>"color:white;" %></div>
					<div class="link3"><%= link_to "ログイン", new_user_session_path, :style=>"color:white;" %></div>
				</div>
				<div class="header-sub"><%= link_to "ビジコネクト",root_path, :style=>"color:white;" %>
					<div class="header-text2">
						<p class="header-text3">ようこそ! ゲストさん</p>
					</div>
				</div>
			<% end %>
<!-- 条件分岐終わり -->
    	</header></div>
    <%= yield %>
    	<footer>

    	</footer>
  </body>
</html>
